[Unit]
Description=liveparse
After=syslog.target rabbitmq-server.service

[Service]
EnvironmentFile=/etc/time.env
User=pi
WorkingDirectory=/var/lib/time
ExecStart=/usr/bin/java -jar /var/lib/time/liveparse.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
