[Unit]
Description=meta.to.index
After=syslog.target

[Service]
User=pi
ExecStart=/usr/bin/java -jar /var/lib/time/meta.to.index.jar
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target
